@media (max-width: 1200px) {
  .footer__form-btn {
    padding: 15px 25px;
    margin-right: 15px;
  }
}

@media (max-width: 1024px) {
  .burger {
    position: relative;
    display: block;
    width: 30px;
    height: 23px;
    background-color: transparent;
    cursor: pointer;
  }

  .burger__line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 3px;
    background-color: #333333;
  }

  .burger__line:nth-child(1) {
    top: 0;
  }

  .burger__line:nth-child(3) {
    bottom: 0;
  }

  .burger__line:nth-child(2) {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .header__nav {
    position: absolute;
    right: 0;
    top: 0;
    padding: 50px;
    width: 50%;
    min-width: 250px;
    height: 100vh;
    z-index: 1000;
    box-shadow: 0 0 5px #888;
    background-color: #fff;
    overflow-y: auto;
    visibility: hidden;
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .header__nav .nav__list {
    flex-direction: column;
  }

  .header__nav .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .header__nav .nav__link {
    font-size: 18px;
  }

  .burger--active
  .burger__line:nth-child(2) {
    opacity: 0;
  }

  .burger--active
  .burger__line:first-child {
    right: 25%;
    top: 50%;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .burger--active
  .burger__line:last-child {
    bottom: auto;
    right: 25%;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .burger__line {
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .stop-scroll {
    overflow: hidden;
  }

  .header__nav--active {
    visibility: visible;
    transform: none;
  }

  .nav__link-display {
    display: block;
  }

  .hero__container {
    margin: 0 auto;
    padding: 160px 77px;
  }

  .hero__title {
    margin-bottom: 16px;
    font-size: 60px;
  }

  .hero__descr {
    margin-bottom: 60px;
    max-width: 660px;
    font-size: 20px;
  }

  .about-us__inner {
    flex-wrap: wrap;
  }

  .about-us__left {
    margin-bottom: 32px;
    width: 100%;
    height: 640px;
  }

  .about-us__right {
    display: flex;
    width: 100%;
  }

  .about-us__list {
    width: 100%;
  }

  .about-us__item {
    width: 100%;
  }

  .question__item-title {
    max-width: 752px;
  }

  .footer__item:nth-child(1) {
    width: 44%;
  }

  .footer__item:nth-child(2) {
    width: 56%;
  }

  .footer__item:nth-child(3) {
    display: none;
  }
}

@media (max-width: 768px) {
  .header__logo-img {
    width: 150px;
  }

  .hero__container {
    padding: 160px 40px;
  }

  .hero__title {
    font-size: 50px;
  }

  .hero__descr {
    width: 100%;
    font-size: 18px;
  }

  .section__offset {
    padding-top: 80px;
  }

  .about-us__left-descr {
    max-width: 366px;
  }

  .about-us__item {
    padding: 35px 48px 35px 40px;
  }

  .how-we-work__tabs {
    max-width: 100%;
  }

  .how-we-work__inner {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .how-we-work__left {
    width: 100%;
  }

  .how-we-work__right {
    margin-bottom: 26px;
    width: 100%;
    height: 284px;
  }

  .how-we-work__left-descr {
    margin-bottom: 25px;
  }

  .questions__title {
    max-width: 668px;
  }

  .questions__item-link {
    font-size: 20px;
  }

  .footer__inner {
    flex-direction: column-reverse;
  }

  .footer__title {
    width: 100%;
  }

  .footer__item:nth-child(2) {
    margin-bottom: 69px;
    width: 70%;
  }

  .footer__nav {
    display: none;
  }
}

@media (max-width: 576px) {
  .header__logo-img {
    width: 110px;
  }

  .hero__container {
    padding: 60px 20px;
  }

  .hero__title {
    margin-bottom: 6px;
    font-size: 20px;
    text-align: center;
  }

  .hero__descr {
    margin-bottom: 32px;
    font-size: 12px;
    text-align: center;
  }

  .hero__btn {
    display: block;
    margin: 0 auto;
    font-size: 12px;
  }

  .title {
    font-size: 24px;
  }

  .about-us__descr {
    margin-bottom: 8px;
    font-size: 14px;
  }

  .about-us__left {
    position: relative;
    margin-bottom: 210px;
    height: 200px;
  }

  .about-us__left-content {
    position: absolute;
    left: 0;
    bottom: -190px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
    background-color: transparent;
  }

  .about-us__left-descr {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
  }

  .about-us__left-btn {
    margin-bottom: 32px;
    text-align: left;
    padding: 11px 38px;
    color: #F90;
    font-size: 12px;
  }

  .about-us__item {
    flex-direction: column;
    padding: 0;
    margin-bottom: 32px;
    border: none;
  }

  .about-us__item-img {
    margin-right: 0;
    margin-bottom: 13px;
  }

  .about-us__item-img svg {
    width: 86px;
    height: 49px;
  }

  .about-us__item-title {
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 500;
  }

  .about-us__item-descr {
    font-size: 14px;
  }

  .how-we-work__title {
    margin-bottom: 16px;
  }

  .how-we-work__tabs {
    margin-bottom: 16px;
  }

  .how-we-work__right {
    margin-bottom: 16px;
    height: 160px;
  }

  .how-we-work__left-title {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 500;
  }

  .how-we-work__left-descr {
    margin-bottom: 16px;
    font-size: 14px;
  }

  .how-we-work__left-btn {
    margin-right: 10px;
    font-size: 12px;
  }

  .how-we-work__left-btn-o {
    font-size: 12px;
  }

  .section__offset {
    padding-top: 60px;
  }

  .questions {
    padding-bottom: 60px;
  }

  .questions__title {
    margin-bottom: 16px;
  }

  .questions__item-link {
    font-size: 14px;
    font-weight: 500;
  }

  .questions__item-icon {
    height: 30px;
    width: 30px;
  }

  .footer {
    padding: 32px 0;
  }

  .footer__item:nth-child(2) {
    margin-bottom: 16px;
    width: 100%;
  }

  .footer__form-textarea {
    margin-bottom: 25px;
  }

  .footer__form-bottom {
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer__form-btn {
    margin-bottom: 11px;
    margin-right: 0;
    padding: 12px 23px;
    font-size: 12px;
  }

  .footer__item:nth-child(1) {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
    width: 100%;
  }

  .footer__logo {
    margin-bottom: 16px;
  }

  .footer__logo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #595959;
  }

  .footer__logo-img {
    width: 131px;
  }
}
