/* Global */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	min-width: 320px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	max-width: 100%;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1800px;
}

.flex {
	display: flex;
}

.btn {
	padding: 19px 37px;
	color: #FFF;
	font-size: 23px;
	font-weight: 700;
	background-color: #FF9900;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}

.btn:focus {
	background-color: rgba(255, 153, 0, 0.70);
}

.btn:hover {
	background-color: rgba(255, 153, 0, 0.70);
}

.btn:active {
	background-color: #E1670E;
}

.title {
	margin-bottom: 20px;
	color: #333;
	font-size: 48px;
}

.section__offset {
	padding-top: 100px;
}

/* Reset */
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

/* Fonts */
@font-face {
	font-family: 'Montserrat';
	src: local("Montserrat Regular"),
		/* Если не получилось, загрузит woff2 */
		url("/fonts/MontserratRegular.woff2") format("woff2"),
		/* Если браузер не поддерживает woff2, загрузит woff */
		url("/fonts/MontserratRegular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local("Montserrat Medium"),
		/* Если не получилось, загрузит woff2 */
		url("/fonts/MontserratMedium.woff2") format("woff2"),
		/* Если браузер не поддерживает woff2, загрузит woff */
		url("/fonts/MontserratMedium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local("Montserrat SemiBold"),
		/* Если не получилось, загрузит woff2 */
		url("/fonts/MontserratSemiBold.woff2") format("woff2"),
		/* Если браузер не поддерживает woff2, загрузит woff */
		url("/fonts/MontserratSemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local("Montserrat Bold"),
		/* Если не получилось, загрузит woff2 */
		url("/fonts/MontserratBold.woff2") format("woff2"),
		/* Если браузер не поддерживает woff2, загрузит woff */
		url("/fonts/MontserratBold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local("Montserrat ExtraBold"),
		/* Если не получилось, загрузит woff2 */
		url("/fonts/MontserratExtraBold.woff2") format("woff2"),
		/* Если браузер не поддерживает woff2, загрузит woff */
		url("/fonts/MontserratExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

/* Переменные */
/* :root {
	--gap: 30px;
} */

/* Стили для секции Header */
.header {
	padding: 14px 0;
	box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.10);
}

.header__container {
	justify-content: space-between;
	align-items: center;
}

.nav__list {
	align-items: center;
}

.nav__item:not(:last-child) {
	margin-right: 85px;
}

.nav__link {
	color: #333;
	font-size: 18px;
	font-weight: 600;
	transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
}

.nav__link:focus {
	outline-offset: 5px;
	outline: 2px solid #F90;
}

.nav__link:hover {
	border-bottom: 2px solid #F90;
}

.nav__link:active {
	outline: none;
	border-bottom: 2px solid #F90;
	color: #E1670E;
}

.nav__link-icon {
	stroke: #333;
	transition: stroke 0.3s ease-in-out;
}

.nav__link-icon:active {
	outline: none;
	stroke: #E1670E;
}

/* Стили для секции Hero */
.hero__container {
	padding: 100px 60px;
	background: url('../img/hero/hero-bg.jpg') center center / cover no-repeat;
}

.hero__title {
	margin-bottom: 24px;
	max-width: 837px;
	color: #FFF;
	font-size: 70px;
	font-weight: 800;
}

.hero__descr {
	margin-bottom: 90px;
	max-width: 790px;
	color: #FFF;
	font-size: 24px;
	font-weight: 700;
}

/* Стили для секции About Us */
.about-us__descr {
	margin-bottom: 50px;
	max-width: 1235px;
	line-height: 2;
}

.about-us__inner {
	justify-content: space-between;
}

.about-us__left {
	padding-top: 426px;
	width: 49%;
	background: url('../img/about-us/about-us-img.jpg') center center / cover no-repeat;
}

.about-us__left-content {
	justify-content: space-between;
	align-items: center;
	padding: 50px;
	background-color: rgba(0, 0, 0, 0.50);
}

.about-us__left-descr {
	max-width: 454px;
	color: #FFF;
	font-weight: 700;
	line-height: 2;
}

.about-us__left-btn {
	display: inline-block;
	padding: 19px 38px;
	border: 3px solid #F90;
	color: #FFF;
	font-weight: 700;
	transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.about-us__left-btn:focus {
	background-color: #F90;
}

.about-us__left-btn:hover {
	background-color: #F90;
}

.about-us__left-btn:active {
	background-color: #E1670E;
	border-color: #E1670E;
}

.about-us__right {
	width: 49%;
}

.about-us__list {
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.about-us__item {
	justify-content: space-between;
	padding: 60px 120px 60px 60px;
	border: 1px solid #cacaca;
}

.about-us__item-content {
	max-width: 452px;
}

.about-us__item-title {
	margin-bottom: 8px;
	font-size: 24px;
	font-weight: 700;
}

.about-us__item-descr {
	line-height: 2;
}

/* Стили для секции How we work */
.how-we-work__title {
	margin-bottom: 50px;
}

.how-we-work__tabs {
	margin-bottom: 45px;
	max-width: 460px;
}

.how-we-work__tabs-list {
	justify-content: space-between;
}

.how-we-work__tabs-btn {
	border: none;
	font-size: 18px;
	background-color: transparent;
	cursor: pointer;
	transition: color 0.3s ease-in-out;
}

.how-we-work__tabs-btn:focus {
	outline-offset: 5px;
	outline: 2px solid #F90;
}

.how-we-work__tabs-btn:hover {
	color: #F90;
}

.how-we-work__tabs-btn:active {
	outline: none;
	color: #E1670E;
}

.how-we-work__inner {
	justify-content: space-between;
}

.how-we-work__left {
	width: 49%;
}

.how-we-work__left-title {
	margin-bottom: 8px;
	font-size: 24px;
	font-weight: 700;
	line-height: 133.333%;
}

.how-we-work__left-descr {
	margin-bottom: 50px;
	max-width: 758px;
	line-height: 200%;
}

.how-we-work__left-btns {
	align-items: center;
}

.how-we-work__left-btn {
	display: inline-block;
	margin-right: 32px;
	font-size: 16px;
}

.how-we-work__left-btn-o {
	display: inline-block;
	padding: 18px 37px;
	border: 1px solid #333;
	color: #333;
	font-size: 16px;
	transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.how-we-work__left-btn-o:focus {
	color: #FFF;
	background-color: #666;
	border-color: #666;
}

.how-we-work__left-btn-o:hover {
	color: #FFF;
	background-color: #666;
	border-color: #666;
}

.how-we-work__left-btn-o:active {
	background-color: #000;
}

.how-we-work__right {
	width: 49%;
	height: 464px;
	background: url('../img/how-we-work/how-we-work-bg.jpg') center center / cover no-repeat;
}

/* Стили для секции Questions */
.questions {
	padding-bottom: 100px;
}

.questions__title {
	margin-bottom: 32px;
}

.questions__list {
	flex-direction: column;
}

.questions__item {
	display: block;
}

.questions__item-link {
	justify-content: space-between;
	align-items: center;
	margin-top: -1px;
	padding: 31px 0;
	border-top: 1px solid #CACACA;
	border-bottom: 1px solid #CACACA;
	font-size: 24px;
	font-weight: 700;
	color: #333;
	transition: color 0.3s ease-in-out;
}

.questions__item-link:focus {
	color: #FF9900;
}

.questions__item-icon {
	fill: #666666;
	transition: stroke 0.3s ease-in-out, fill 0.3s ease-in-out;
}

.questions__item-icon ellipse {
	transition: stroke 0.3s ease-in-out, fill 0.3s ease-in-out
}

.questions__item-link:focus .questions__item-icon {
	stroke: #FFF;
}

.questions__item-link:focus .questions__item-icon ellipse {
	fill: #FF9900;
}

.questions__item-link:hover {
	color: #FF9900;
}

.questions__item-link:hover .questions__item-icon {
	stroke: #FFF;
}

.questions__item-link:hover .questions__item-icon ellipse {
	fill: #FF9900;
}

/* Стили для секции Footer */
.footer {
	padding: 50px 0;
	background-color: #222222;
}

.footer__inner {
	justify-content: space-between;
}

.footer__item {
	width: 33%;
}

.footer__logo {
	display: inline-block;
	margin-bottom: 20px;
}

.footer__nav {
	margin-bottom: 90px;
}

.footer__nav-list {
	flex-direction: column;
}

.footer__nav-link {
	color: #CACACA;
	font-size: 18px;
	font-weight: 600;
	line-height: 200%;
	transition: color 0.3s ease-in-out;
}

.footer__nav-link:focus {
	outline-offset: 5px;
	outline: 2px solid #F90;
}

.footer__nav-link:hover {
	color: #FF9900;
}

.footer__nav-link:active {
	outline: none;
	color: #E1670E;
}

.footer__social-item:not(:last-child) {
	margin-right: 25px;
}

.footer__social-icon {
	fill: #7C7C7C;
	transition: fill 0.3s ease-in-out;
}

.footer__social-link:focus .footer__social-icon {
	outline-offset: 5px;
	outline: 2px solid #F90;
}

.footer__social-link:hover .footer__social-icon {
	fill: #F90;
}

.footer__social-link:active .footer__social-icon {
	outline: none;
	fill: #E1670E;
}

.footer__title {
	margin-bottom: 25px;
	color: #CACACA;
	font-size: 48px;
}

.footer__form {
	flex-direction: column;
}

.footer__form-input {
	margin-bottom: 25px;
	padding: 14px 14px 14px 24px;
	height: 60px;
	background-color: #414141;
}

.footer__form-input::placeholder,
.footer__form-textarea::placeholder {
	color: #CACACA;
	font-weight: 400;
	line-height: 200%;
}

.footer__form-textarea {
	margin-bottom: 32px;
	padding: 14px 14px 14px 24px;
	height: 150px;
	background-color: #414141;
	resize: none;
}

.footer__form-bottom {
	justify-content: space-between;
	align-items: center;
}

.footer__form-btn {
	font-size: 16px;
}

.footer__form-label {
	color: #CACACA;
	line-height: 200%;
}

.footer__item:last-child {
	justify-content: end;
	align-items: center;
}

.footer__descr {
	max-width: 363px;
	color: #CACACA;
	line-height: 200%;
}