/* Global */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	min-width: 320px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	max-width: 100%;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1800px;
}

.flex {
	display: flex;
}

.btn {
	padding: 19px 37px;
	color: #FFF;
	font-size: 23px;
	font-weight: 700;
	background-color: #FF9900;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}

.btn:focus {
	background-color: rgba(255, 153, 0, 0.70);
}

.btn:hover {
	background-color: rgba(255, 153, 0, 0.70);
}

.btn:active {
	background-color: #E1670E;
}

.title {
	margin-bottom: 20px;
	color: #333;
	font-size: 48px;
}

.section__offset {
	padding-top: 100px;
}

/* Reset */
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

/* Fonts */
@font-face {
	font-family: 'Montserrat';
	src: local("Montserrat Regular"),
		/* Если не получилось, загрузит woff2 */
		url("/fonts/MontserratRegular.woff2") format("woff2"),
		/* Если браузер не поддерживает woff2, загрузит woff */
		url("/fonts/MontserratRegular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local("Montserrat Medium"),
		/* Если не получилось, загрузит woff2 */
		url("/fonts/MontserratMedium.woff2") format("woff2"),
		/* Если браузер не поддерживает woff2, загрузит woff */
		url("/fonts/MontserratMedium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local("Montserrat SemiBold"),
		/* Если не получилось, загрузит woff2 */
		url("/fonts/MontserratSemiBold.woff2") format("woff2"),
		/* Если браузер не поддерживает woff2, загрузит woff */
		url("/fonts/MontserratSemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local("Montserrat Bold"),
		/* Если не получилось, загрузит woff2 */
		url("/fonts/MontserratBold.woff2") format("woff2"),
		/* Если браузер не поддерживает woff2, загрузит woff */
		url("/fonts/MontserratBold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local("Montserrat ExtraBold"),
		/* Если не получилось, загрузит woff2 */
		url("/fonts/MontserratExtraBold.woff2") format("woff2"),
		/* Если браузер не поддерживает woff2, загрузит woff */
		url("/fonts/MontserratExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

/* Переменные */
/* :root {
	--gap: 30px;
} */

/* Стили для секции Header */
.header {
	padding: 14px 0;
	box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.10);
}

.header__container {
	justify-content: space-between;
	align-items: center;
}

.nav__list {
	align-items: center;
}

.nav__item:not(:last-child) {
	margin-right: 85px;
}

.nav__link {
	color: #333;
	font-size: 18px;
	font-weight: 600;
	transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
}

.nav__link:focus {
	outline-offset: 5px;
	outline: 2px solid #F90;
}

.nav__link:hover {
	border-bottom: 2px solid #F90;
}

.nav__link:active {
	outline: none;
	border-bottom: 2px solid #F90;
	color: #E1670E;
}

.nav__link-icon {
	stroke: #333;
	transition: stroke 0.3s ease-in-out;
}

.nav__link-icon:active {
	outline: none;
	stroke: #E1670E;
}

/* Стили для секции Hero */
.hero__container {
	padding: 100px 60px;
	background: url('../img/hero/hero-bg.jpg') center center / cover no-repeat;
}

.hero__title {
	margin-bottom: 24px;
	max-width: 837px;
	color: #FFF;
	font-size: 70px;
	font-weight: 800;
}

.hero__descr {
	margin-bottom: 90px;
	max-width: 790px;
	color: #FFF;
	font-size: 24px;
	font-weight: 700;
}

/* Стили для секции About Us */
.about-us__descr {
	margin-bottom: 50px;
	max-width: 1235px;
	line-height: 2;
}

.about-us__inner {
	justify-content: space-between;
}

.about-us__left {
	padding-top: 426px;
	width: 49%;
	background: url('../img/about-us/about-us-img.jpg') center center / cover no-repeat;
}

.about-us__left-content {
	justify-content: space-between;
	align-items: center;
	padding: 50px;
	background-color: rgba(0, 0, 0, 0.50);
}

.about-us__left-descr {
	max-width: 454px;
	color: #FFF;
	font-weight: 700;
	line-height: 2;
}

.about-us__left-btn {
	display: inline-block;
	padding: 19px 38px;
	border: 3px solid #F90;
	color: #FFF;
	font-weight: 700;
	transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.about-us__left-btn:focus {
	background-color: #F90;
}

.about-us__left-btn:hover {
	background-color: #F90;
}

.about-us__left-btn:active {
	background-color: #E1670E;
	border-color: #E1670E;
}

.about-us__right {
	width: 49%;
}

.about-us__list {
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.about-us__item {
	justify-content: space-between;
	padding: 60px 60px;
	border: 1px solid #cacaca;
}

.about-us__item-content {
	max-width: 452px;
}

.about-us__item-title {
	margin-bottom: 8px;
	font-size: 24px;
	font-weight: 700;
}

.about-us__item-descr {
	line-height: 2;
}